{% extends "base.html" %}

{% block main %}
<div class="jumbotron text-center">
    <h1>DR RSS Reader</h1>
    <p> My first Django+React RSS Reader</p>
</div>

git<div class="container">
  <div class="row">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisci elit,
        sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
        Quis aute iure reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    </p>
    <div class="col-sm-4">
      <h3>Item 1</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisci elit,
        sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
        Quis aute iure reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    </p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Item 2</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisci elit,
        sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
        Quis aute iure reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    </p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Item 3</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisci elit,
        sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
        Quis aute iure reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    </p>
      <button class="btn btn-primary">Read more...</button>
    </div>
  </div>
</div>
{% endblock %}